.App {
  text-align: center;
}

#root, body {
  background-color: lavender;
  height: 100vh;
  width: 100%;
}

h1 {
text-align: center;
}

.CommentPost{
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  padding:50px;
}

.startingmsg {
 text-align: center;
}

.commentmsg{
  display:block;
  margin: 0 auto;
  background-color:lightblue;
  height: 80%;
  width: 50%;
}

.replied-comment{
  display:block;
  margin: 0 auto;
  background-color: lightgrey;
  width: 30%;
}

